<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather app</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    {{>headicon}}
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>Weather info</p>
    
    <form>
        <input placeholder='location' type="text">
        <button type="submit">search</button>
    </form>
    <p id='message-1'></p><br>
    <p id='message-2'></p><br>
    <p id='message-3'></p>

    
    </div>
     {{>footer}}
     <script src="/js/app.js"></script> 
</body>
</html>